@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.container {
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.connect-btn {
  background-color: #0070f3;
}

.buy-btn {
  background-color: #28a745;
}